<form  class="example-form1" #f="ngForm" (ngSubmit)="search(f)">
        <mat-form-field appearance="fill" color="primary">
                <mat-label>Search</mat-label>
                <input name="name" ngModel #first="ngModel" matInput placeholder="Where you want to go?">
                <mat-icon matSuffix>home</mat-icon>
                <mat-hint>Press Enter</mat-hint>
        </mat-form-field>
</form>
<form (ngSubmit)="seeRestaurantsFloripa()">
        <div>
        <button mat-raised-button (ngSubmit)="send()">Restaurants</button>
        </div>
</form>
              
<agm-map id="map" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng" [label]="'M'">
                <agm-info-window>Holy</agm-info-window>
        </agm-marker>
        <agm-marker *ngFor="let position of positions" [latitude]="position.lat"
                [longitude]="position.lng"></agm-marker>
</agm-map>